{
    "actions": [
        {
            "type": "get",
            "source": "https://github.com/atom/electron/releases/download/v0.36.5/electron-v0.36.5-darwin-x64.zip",
            "destination": "electron-v0.36.5-darwin-x64"
        }
    ],
    "entryPoint": ["electron-v0.36.5-darwin-x64/Electron.app/Contents/Frameworks/Electron Framework.framework/Versions/Current/Electron Framework", "main.js"]
}
